* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background: linear-gradient(#2193b0, #6dd5ed);
    color: #1f1e1e;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

.wrapper {
    padding: 60px 20px 20px;
}

.wrapper h1 {
    font-size: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.new-task {
    font-family: inherit;
    font-size: 20px;
    border-style: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    display: block;
}

.add-task-btn {
    background-color: #1f1e1e;
    color: #ffffff;
    font-family: inherit;
    font-weight: 700;
    border-style: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-bottom: 60px;
}

.add-task-btn:hover {
    background-color: #000000;
}

.todo-items {
    display: flex;
    flex-direction: column;
}

.single-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.single-item div {
    display: flex;
}

.single-item p, .single-item i {
    font-size: 30px;
}

.single-item p {
    margin-bottom: 10px;
}

.single-item i {
    margin-right: 20px;
}

.single-item p.checked {
    text-decoration: line-through;
    opacity: .5;
}

.fa-pencil {
    cursor: pointer;
    color: brown;
}
.fa-check-square {
    cursor: pointer;
    color: rgb(11, 156, 23);
}
.fa-trash {
    cursor: pointer;
    color: rgb(211, 30, 30);
}
.fa-floppy-o {
    cursor: pointer;
    color: darkslategrey;
}

.edit-item {
    display: block;
    background-color: inherit;
    border-style: none;
    border-bottom: 1px solid #1f1e1e;
    font-size: 20px;
    font-family: inherit;
    margin-bottom: 20px;
    outline: none;
    width: 50%;
}

@media screen and (min-width: 768px){
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin: 0 auto;
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .wrapper h1 {
        font-size: 48px;
    }
            
    .todo-items {
        flex-direction: column;
    }
    
    .single-item {
        display: flex;
    }
    
}